body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.horizontal-line{
  border: 1px solid lightgray;
  opacity: 0.5;
  border-radius: 10px;
  width: 10em;
  margin: 0 auto;
}

.input__text input{
    width: 100%;
    padding: 1% 2%;
    border: none;
    margin: 1% 0%;
    border-bottom: 2px solid lightgray;
    border-radius: 0;
    background: none;
    transition: 0.5s;
}

.white-text{
  position: relative;
}
.white-text input{
  color: white;
}

.white-text i{
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 30%;
  font-size: 1.3rem;
}

.white-text i:hover{
  color: lightcoral;
}

.input__text input:focus{
  border-bottom: 2px solid lightcoral;
  outline: none;
}

.input__text label{
  margin-bottom: 0;
}

.input__textarea textarea{
  border: 2px solid lightgray;
  width: 100%;
  padding: 1% 2%;
  margin: 1% 0%;
  border-radius: 5px;
  transition: 0.5s;
  /* background-color: #eeeeee; */
}

.input__textarea textarea:focus{
  outline: none;
  border: 2px solid lightcoral;
}