body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.horizontal-line{
  border: 1px solid lightgray;
  opacity: 0.5;
  border-radius: 10px;
  width: 10em;
  margin: 0 auto;
}